<!DOCTYPE html>
<html>
    <head>

      <title>Asterisk Stat</title>

      <meta charset="utf-8">

      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


      <style>
          .table_score>tbody>tr>td, .table_score>tbody>tr>th, .table_score>tfoot>tr>td, .table_score>tfoot>tr>th, .table_score>thead>tr>td, .table_score>thead>tr>th {
            padding: 3px 8px !important;
            vertical-align: middle !important;
            border: 1px solid #485159;
          }
          .table_score>thead>tr>th {
            border-bottom: 2px solid #485159 !important;
          }
          .table_score>thead:first-child>tr:first-child>th {
            border: 1px solid #485159 !important;
          }
      </style>

      <script>
          $(function() {
            $( "#datepicker_from" ).datepicker();
            $( "#datepicker_to" ).datepicker();
          });
      </script>


    </head>

    <body>
        <div class="container-fluid" >
            <div hidden>
            {% block content %}

                <form action="" method="post" name="input_date_from">

                    {{form.hidden_tag()}}

                    <p>
                        <h4 class="text-primary">
                            Please select date from:
                            {{ form.input_date_from(size=10, id="datepicker_from")}} to:
                            {{ form.input_date_to(size=10, id="datepicker_to")}} <span style="margin-left:95%;">
                              </span>
                              <!--<a href="/config">Config</a></span>-->
                                <br>
                        </h4>
                    </p>
                    <p>
                        <input type="submit" class="btn btn-info" value="Get Report">
                    </p>
                </form>

            {% endblock %}
            </div>
<h4>outgoing</h4>

          <table class="table table_score">
              <thead>
                <tr class="info">
                  <th colspan="2" align=center  rowspan="2">Менеджер \ Часы </th>

                {% for i in work_hours %}
                  <th colspan="2" rowspan="2" align=center >{{i}}:00</th>
                {% endfor %}

                </tr>
            </thead>
            <tbody>

                {% for manager in visible_managers %}

                <tr align=center >
                  <td colspan="2" rowspan="2" align=center  style="background: #dfedf3" ><h5><p class="text-primary">{{ managers_names[manager] }} {{ managers[manager].caller_id }}</p></h5></td>

                    {% for i in work_hours %}
                      <td rowspan="2" align=center class="row v_align_center" id = "{{ managers[manager].caller_id }}aRow{{i}}" > {{managers[manager].detailsOut[i].duration}}</td>
                      <script>
                                if ({{ managers[manager].detailsOut[i].duration }} == 0) {
                                  document.getElementById('{{ managers[manager].caller_id }}aRow{{i}}').style.background = "#ffffff";
                                } else if ({{ managers[manager].detailsOut[i].duration }} < 10) {
                                  document.getElementById('{{ managers[manager].caller_id }}aRow{{i}}').style.background = "#ff8800";
                                } else if ({{ managers[manager].detailsOut[i].duration }} < 15) {
                                  document.getElementById('{{ managers[manager].caller_id }}aRow{{i}}').style.background = "#ffc800";
                                } else if ({{ managers[manager].detailsOut[i].duration }} < 25) {
                                  document.getElementById('{{ managers[manager].caller_id }}aRow{{i}}').style.background = "#c4ff00";
                                } else if ({{ managers[manager].detailsOut[i].duration }} < 35) {
                                  document.getElementById('{{ managers[manager].caller_id }}aRow{{i}}').style.background = "#00ff00";
                                } else if ({{ managers[manager].detailsOut[i].duration }} < 70) {
                                  document.getElementById('{{ managers[manager].caller_id }}aRow{{i}}').style.background = "#228B22";
                                } else {
                                  document.getElementById('{{ managers[manager].caller_id }}aRow{{i}}').style.background = "#66CC33";
                                }
                      </script>
                      <td style="background: #dfedf3 " align=center > {{ managers[manager].detailsOut[i].positive  }} </td>

                    {% endfor %}


                </tr>
                     <tr style="background: #dfedf3">

                        {% for i in work_hours %}

                      <td align=center>{{ managers[manager].detailsOut[i].negative  }}</td>

                        {% endfor %}

                </tr>

                {% endfor %}

            </tbody>
        </table>

<h4>incoming</h4>

          <table class="table table_score">
              <thead>
                <tr class="info">
                  <th colspan="2" align=center  rowspan="2">Менеджер \ Часы </th>

                {% for i in work_hours %}
                  <th colspan="2" rowspan="2" align=center >{{i}}:00</th>
                {% endfor %}

                </tr>
            </thead>
            <tbody>

                {% for manager in visible_managers %}

                <tr align=center >
                  <td colspan="2" rowspan="2" align=center  style="background: #dfedf3" ><h5><p class="text-primary">{{ managers_names[manager] }} {{ managers[manager].caller_id }}</p></h5></td>

                    {% for i in work_hours %}
                      <td rowspan="2" align=center class="row v_align_center" id = "{{ managers[manager].caller_id }}bRow{{i}}" > {{managers[manager].detailsIn[i].duration}}</td>
                      <script>
                                if ({{ managers[manager].detailsIn[i].duration }} == 0) {
                                  document.getElementById('{{ managers[manager].caller_id }}bRow{{i}}').style.background = "#ffffff";
                                } else if ({{ managers[manager].detailsIn[i].duration }} < 10) {
                                  document.getElementById('{{ managers[manager].caller_id }}bRow{{i}}').style.background = "#ff8800";
                                } else if ({{ managers[manager].detailsIn[i].duration }} < 15) {
                                  document.getElementById('{{ managers[manager].caller_id }}bRow{{i}}').style.background = "#ffc800";
                                } else if ({{ managers[manager].detailsIn[i].duration }} < 25) {
                                  document.getElementById('{{ managers[manager].caller_id }}bRow{{i}}').style.background = "#c4ff00";
                                } else if ({{ managers[manager].detailsIn[i].duration }} < 35) {
                                  document.getElementById('{{ managers[manager].caller_id }}bRow{{i}}').style.background = "#00ff00";
                                } else if ({{ managers[manager].detailsIn[i].duration }} < 70) {
                                  document.getElementById('{{ managers[manager].caller_id }}bRow{{i}}').style.background = "#228B22";
                                } else {
                                  document.getElementById('{{ managers[manager].caller_id }}bRow{{i}}').style.background = "#66CC33";
                                }
                      </script>
                      <td style="background: #dfedf3 " align=center > {{ managers[manager].detailsIn[i].positive  }} </td>

                    {% endfor %}


                </tr>
                     <tr style="background: #dfedf3">

                        {% for i in work_hours %}

                      <td align=center>{{ managers[manager].detailsIn[i].negative  }}</td>

                        {% endfor %}

                </tr>

                {% endfor %}

            </tbody>
        </table>



        <br>

        <table class="table table-hover table_score" align="center">
          <thead rowspan="2" align="center" > <h5> <p class="text-primary">
                  <tr class="info" >
                  <th>Менеджер</th>
                  <th>Входящих звонков</th>
                  <th>Исходящих звонков</th>
                  <th>Успешных</th>
                  <th>Неуспешных</th>
                  <th>Входящих минут</th>
                  <th>Исходящих минут</th>
                  <th>Всего Минут</th>
                  <th>Средняя продолжительность звонка</th>
                  </tr>
          </thead>
<script> total_in = 0;
         total_out = 0;
         total_succes = 0;
         total_unsucces = 0;
         total_in_min = 0;
         total_out_min = 0;
         total_time = 0;
         total_avg = 0;
         sum = 0;
         i = 0;
</script>
          <tbody align=center border=solid 1px #326e87>
            {% for manager in visible_managers %}

              <tr>
              <td><h5> <p class="text-primary">{{ managers_names[manager] }}</p> </h5>  </td>
              <td>{{ managers[manager].inbound_calls }}</td>
              <td>{{ managers[manager].outbound_calls }}</td>
              <td>{{ managers[manager].succesed_calls  }}</td>
              <td>{{ managers[manager].unsuccesed_calls  }}</td>
              <td>{{ managers[manager].inbound_calls_time  }} </td>
              <td>{{ managers[manager].outbound_calls_time  }} </td>
              <td>{{ managers[manager].total_calls_time  }}</td>
              <td>{{ managers[manager].average_time}}</td>
              </tr>
            <script>total_in +={{ managers[manager].inbound_calls }};
                    total_out += {{ managers[manager].outbound_calls }};
                    total_succes += {{ managers[manager].succesed_calls  }};
                    total_unsucces += {{ managers[manager].unsuccesed_calls  }};
                    total_in_min +={{ managers[manager].inbound_calls_time }};
                    total_out_min += {{ managers[manager].outbound_calls_time }};
                    total_time += {{ managers[manager].total_calls_time  }};
                    sum += {{ managers[manager].average_time}};
                    i++;
                    total_avg = (sum/i).toFixed(1);
            </script>
            {% endfor %}
          <tr bgcolor="#dfedf3">
            <td> <b> total </b>  </td>
            <td id="total_in"> </td>
            <td id="total_out">  </td>
            <td id="total_succes">  </td>
            <td id="total_unsucces">  </td>
            <td id="total_in_min"> </td>
            <td id="total_out_min">  </td>
            <td id="total_time">  </td>
            <td id="total_avg">  </td>
          </tr>
          </tbody>


        </table>
        <br>

  </div>
  <br><br>



      <script>
          $(function() {
            $("#total_in").text(total_in);
            $("#total_out").text(total_out);
            $("#total_succes").text(total_succes);
            $("#total_unsucces").text(total_unsucces);
            $("#total_in_min").text(total_in_min);
            $("#total_out_min").text(total_out_min);
            $("#total_time").text(total_time);
            $("#total_avg").text(total_avg);
          });
      </script>

  <script>
    setTimeout(function(){
  window.location.href = './dashboard';;
}, 300000);
  </script>
  </body>
</html>


